.wrapper
.flash
  .chat-side
    .side-header
      %p.side-header_user-name
        サンプル
      %ul.user-menu
        %li.user-menu_edit-user.fa.fa-pencil-square-o
        %li.user-menu_new-group.fa.fa-cog
    .groups
  .chat-main
    .main-header
      .current-group
        %h2.current-group__name
          sample
        %ul.member-list
      .main-header__edit-btn
        Edit
    .messages
    .form
      .input-box
        .input-box_text
          %li.image-label.fa.fa-image.fa-2x
        .new-message_submit