.wrapper
.flash
  = render partial: 'shared/side_bar'

.chat-main
  .chat-main__header
    .chat-main__header__current-group
      %ul.chat-main__header__current-group_user-menu
        %li.chat-main__header__current-group_user-menu_name
          sample
        %li.chat-main__header__current-group_user-menu_list
    .chat-main__header__edit-btn
      = link_to 'Edit', "/groups/1/edit", class:"deno-none"
  .messages
  .form
    .form__input-box
      .form__input-box_text
        %li.form__input-box_text_image-label.fa.fa-image.fa-2x
      .form__input-box_submit
        SEND