.wrapper
.flash
.chat-side
  .chat-side__side-header
    %p.chat-side__side-header_user-name
      サンプル
    %ul.chat-side__user-menu
      %li.chat-side__user-menu_edit-user.fa.fa-pencil-square-o
      %li.chat-side__user-menu_new-group.fa.fa-cog
  .chat-side__groups
.chat-main
  .chat-main__header
    .chat-main__header__current-group
      %ul.chat-main__header__current-group_user-menu
        %li.chat-main__header__current-group_user-menu_name
          sample
        %li.chat-main__header__current-group_user-menu_list
    .chat-main__header__edit-btn
      Edit
  .messages
  .form
    .form__input-box
      .form__input-box_text
        %li.form__input-box_text_image-label.fa.fa-image.fa-2x
      .form__input-box_submit
        SEND
